<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card">

                <!-- Card image -->
                <div class="text-center mt-3">
                    <img class="card-img-top rounded-circle " style="width: 50%;" src="<%=admin.profile%>" alt="Card image cap">
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title"><a><%=admin.name%></a></h4>
                    <!-- Text -->
                    <p class="card-text"><b>Email</b> : <%=admin.email%></p>
                    <p class="card-text"><b>Phone</b> : <%=admin.contact%></p>
                    <p class="card-text"><b>Address</b> : <%=admin.address%></p>

                    <!-- Button -->
                </div>

            </div>
        </div>
    </div>
</div>